<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ld.mapper.InternalSpecialFileRelaMapper" >
  <resultMap id="BaseResultMap" type="com.ld.model.InternalSpecialFileRela" >
    <result column="INTERNAL_ID" property="internalId" jdbcType="DECIMAL" />
    <result column="CFILE_ID" property="cfileId" jdbcType="VARCHAR" />
    <result column="SPECIAL" property="special" jdbcType="VARCHAR" />
    <result column="SPECIAL_FILE_SEQU" property="specialFileSequ" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    "INTERNAL_ID" as internalId, "CFILE_ID" as cfileId, "SPECIAL" as special, "SPECIAL_FILE_SEQU" as specialFileSequ,
    "CREATE_TIME" as createTime, "UPDATE_TIME" as updateTime
  </sql>
  
  <!-- 添加内参图片 -->
  <insert id="insert" parameterType="com.ld.model.InternalSpecialFileRela" >
    INSERT INTO "INTERNAL_SPECIAL_FILE_RELA" ("INTERNAL_ID", "CFILE_ID", "SPECIAL", "SPECIAL_FILE_SEQU", "CREATE_TIME", "UPDATE_TIME")
    VALUES (#{internalId,jdbcType=DECIMAL}, #{cfileId,jdbcType=VARCHAR}, #{special,jdbcType=DECIMAL}, #{specialFileSequ,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  
  <!-- 根据ID删除内参图片 -->
  <delete id="delete" parameterType="java.math.BigDecimal">
  	DELETE FROM "INTERNAL_SPECIAL_FILE_RELA" t WHERE t."INTERNAL_ID" = #{internalId,jdbcType=DECIMAL}
  </delete>
  
   <!-- 更新内参图片关系 -->
  <update id="updateByPrimaryKey" parameterType="com.ld.model.InternalSpecialFileRela">
  	UPDATE "INTERNAL_SPECIAL_FILE_RELA"
    SET "SPECIAL" = #{special,jdbcType=VARCHAR},
    	"CFILE_ID" = #{cfileId,jdbcType=VARCHAR},
    	"UPDATE_TIME" = #{updateTime,jdbcType=TIMESTAMP}
    WHERE "INTERNAL_ID" = #{internalId,jdbcType=DECIMAL}
    AND "SPECIAL_FILE_SEQU" = #{specialFileSequ,jdbcType=DECIMAL}
  </update>
  
  <!-- 根据观点ID查询对应图片列表 -->
  <select id="findListById" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
  	SELECT 
  	 <include refid="Base_Column_List" />
  	FROM INTERNAL_SPECIAL_FILE_RELA t where t."INTERNAL_ID" = #{internalId,jdbcType=DECIMAL}
  	ORDER BY t."SPECIAL_FILE_SEQU"
  </select>
  
  <!-- 根据ID和图片顺序查询 -->
  <select id="findByIdAndSequ" parameterType="com.ld.model.InternalSpecialFileRela" resultType="com.ld.model.InternalSpecialFileRela">
  	SELECT 
  	 <include refid="Base_Column_List" />
  	FROM INTERNAL_SPECIAL_FILE_RELA t 
  	WHERE t."INTERNAL_ID" = #{internalId,jdbcType=DECIMAL}
  	AND t."SPECIAL_FILE_SEQU" = #{specialFileSequ,jdbcType=DECIMAL}
  </select>
  
</mapper>