@charset "utf-8";
/* CSS Document */
.contain_main .theme{min-width:1400px;}
.contain_main .theme h2 p{ background:url(../../images/manage_customer.png) no-repeat 10px center;}
.contain_main .theme ul .first{ width:70px;}
.contain_main .theme ul .twice{ width:150px;}
.contain_main .theme ul .sec{ width:100px;}
.contain_main .theme ul .thr{ width:150px;}
.contain_main .theme ul .four{ width:120px;}
.contain_main .theme ul .six ,.contain_main .theme ul .seve{ width:180px;}
.contain_main .theme ul .last{min-width:420px; border:none;}
.contain_main .theme .title .last p{position:relative; left:25%;}
.contain_main .theme ul .last input{ font-family:"微软雅黑"; display:block; float:left;}
.contain_main .theme ul .last .twot ,.contain_main .theme ul .last .fourt{ width:50px; height:26px; background:url(/res/images/bott_bg.png) repeat-x left top; font-size:16px; color:#1d1d1d; border:1px solid #898989; border-radius:2px; margin:4px;}
.contain_main .theme ul .last .twot:visited{ background:url(../images/butt_warn.png) repeat-x left top; border:1px solid #9d4916; color:white;}
.contain_main .theme ul .last .button{width:410px; height:28px; margin-top:10px; position:relative; left:30%;}
.theme ul .last .twot:hover{ background:url(/res/images/bott_bghover.png) repeat-x left top; border:1px solid #1977df;}
.theme ul .last .fourt:hover{ background:url(/res/images/bott_bghover.png) repeat-x left top; border:1px solid #1977df;}

.contain_main .theme ul .last .fourt{ width:76px; height:26px;}
/*下拉框*/
.contain_main .theme .result .four{ height:50px;}
.contain_main .theme .result .four select{ width:82px; height:26px; border:1px solid #909090; border-radius:2px; color:#1d1d1d; font-size:14px; margin-top:12px;}
/*搜索部分添加*/
.contain_main .theme .add_fonction{ height:60px; background-color:white; border-bottom:1px solid #368fe1;}
.theme .add_fonction .search{ display:block; width:300px; float:left;}
.theme .add_fonction .search p ,.theme .add_fonction .search input{ display:block; float:left; margin-top:20px;}
.theme .add_fonction .search p{ margin-left:20px; font-family:"宋体"; font-size:14px; color:#333; line-height:26px;}
.theme .add_fonction .search .tex{ width:150px; height:26px; border:1px solid #ccc;}
.theme .add_fonction .search .butt{ width:46px; height:28px; background-color:#efefef; border:1px solid #ccc; margin-left:10px;}
.theme .add_fonction .select{ display:block; float:right; margin-right:20px;margin-top:18px; }
.theme .add_fonction .select select{ display:block; width:300px; float:right; height:28px; width:100px; font-family:"宋体"; font-size:14px;}

/*#setpage a:link,a:visited,a:hover,.current,#info{background:#fff;display:inline-block;margin:1px 5px;text-decoration:none;
    font-size:16px;text-align:center;line-height:15px;color:#333;padding:8px;border: 1px solid #ccc;}*/
#setpage a:hover{border:1px solid #1977df;background:#fff;}
#setpage .current{ border:1px solid #1977df;background:#fff;margin:1px;color:#1977df;}
#info{width:auto;}
#setpage{width: 1000px; margin: 0 auto;padding-left: 50px;}