@charset "utf-8";
/* CSS Document */
.contain_main .theme h2 p{ display:block; float:left; padding-left:40px; background:url(../images/marl_metal.png) no-repeat 10px center; font-size:18px; color:white;}


