@charset "utf-8";
/* CSS Document */
.contain_main .theme h2 p{background:url(../images/lec_slide.png) no-repeat 10px center;}
.contain_main .map{ height:30px; width:100%;}
.choose_con .cho3 .tit p{ font-weight:normal; color:#1d1d1d; font-size:16px; font-family:"微软雅黑";}
.choose_con .cho3 .con input{ display:block; height:30px; border:1px solid #909090; margin:9px 0 0 20px; font-size:14px; padding-left:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:20em;}
.choose_con .cho3 .con input{ width:600px;}
.contain_main .map .warn{ margin-left:0;}
.contain_main .theme{margin-left:0;}
.contain_main .theme .butt a{ padding-left:0;}


