@charset "utf-8";
/* CSS Document */
.contain_main .theme h2 p{background:url(../images/choose02.png) no-repeat 10px center;}
.contain_main .theme ul .last .button{width:160px; height:28px; margin-top:12px; position:relative; left:80%;}
.result .last .button .twot{ margin-left:10px;}
.contain_main .theme ul .sec{ width:150px;}
.contain_main .theme ul .thr{ width:120px; height:50px;}
.contain_main .theme ul .thr img{ display:block;width:33px; height:33px; margin:0 auto; margin-top:8px;}
.contain_main .theme ul .four{ width:180px;}
.contain_main .theme ul .six{ width:450px;}