@charset "utf-8";
/* CSS Document */
<<<<<<< HEAD
.contain_main .course a{ display:block; width:274px; height:221px; float:left; margin:10px 0 0 20px; border:1px solid white;}
.course .cour01{ background-image:url(../../images/course01.png);}
.course .cour01:hover{background-image:url(../../images/course01_hover.png);}
.course .cour02{ background-image:url(../../images/course02.png);}
.course .cour02:hover{background-image:url(../../images/course02_hover.png);}
=======
.contain_main .course{ overflow:hidden;}
.contain_main .course a{ display:block; width:274px; height:221px; float:left; margin:10px 0 0 20px; border:1px solid white;}
.course .cour01 { background:url(../images/course01.png) no-repeat left top;}
.course .cour01:hover{background:url(../images/course01_hover.png) no-repeat left top;}
.course .cour02 { background:url(../images/course02.png) no-repeat left top;}
.course .cour02:hover{background:url(../images/course02_hover.png) no-repeat left top;}
>>>>>>> 97ae29f


