@charset "utf-8";
/* CSS Document */
.contain_main .theme h2 p{ display:block; float:left; padding-left:40px; background:url(../images/mark_custom.png) no-repeat 10px center; font-size:18px; color:white;}
.choose_con .cho2 .con input{ width:230px; border:1px solid #ccc; font-size:14px;}