@charset "utf-8";
/* CSS Document */
body{ overflow-y:auto;}
.contain_main{ height:100%;}
.contain_main .theme{min-width:1400px;}
.contain_main .theme h2 p{background:url(../images/mark_internal.png) no-repeat 10px center;}
.con b em{ font-style:normal; display:block; float:left; margin-top:10px; padding-left:15px;}
.con b input ,.con input{ display:block; float:left;}
.con textarea{ height:30px; width:488px; border:1px solid #909090; resize:none; margin:9px 0 0 20px;}


.choose_con .cho3 .con b input{ width:90px;}



