@charset "utf-8";
/* CSS Document */
/*body设置*/
body{ overflow-y:auto; background-color:#f2f2f2;}
.contain_main{width:100%; height:auto; position:absolute; left:0; top:0; background-color:white;font-family:"微软雅黑"; padding-bottom:50px;}
/*修改的标签部分*/
.choose_con .cho2 .con select ,.choose_con .cho3 .con select{ display:block; width:115px; height:30px; border:1px solid #909090; margin:9px 0 0 20px; font-size:14px; padding-left:10px; border-radius:4px;}
.choose_con .cho3 .con select{ width:250px;}
.choose_con .cho2 .con input{ width:80px; border-radius:4px;}
.choose_con .cho2 .con .fay{ width:800px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
