@charset "utf-8";
/* CSS Document */
.contain_main .theme{ border:none;} 
.contain_main .theme h2 p{ background:url(../images/key_white.png) no-repeat 10px center;}
.theme .newkey{ display:block; width:440px; position:relative; left:40%; margin-top:50px; overflow:hidden;}
.theme .newkey p{ font-size:16px; display:block; float:left; line-height:35px;}
.theme .newkey input{ display:block; float:right; width:375px; height:35px; border:1px solid #909090; border-radius:2px;}
.theme span{ display:block; height:34px; width:250px; position:relative; left:48%; margin-top:50px;}
.theme span a{ display:block; width:100px; height:34px; font-size:16px; color:white; text-align:center; line-height:34px; float:left; border-radius:4px;}
.theme span .finish{ background-color:#1977df; margin-right:50px;}
.theme span .finish:hover{ background-color:#1668c2;}
.theme span .cancel{ background-color:#bebebe;}
.theme span .cancel:hover{ background-color:#a7a7a7;}
