@charset "utf-8";
/* CSS Document */
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}
.fl{float: left;}
.fr{float: right;}
body{ background-color:#f2f2f2; overflow-x:hidden; overflow-y:hidden;}
/*头部*/
.header{width:100%; height:54px; background-color:#222; font-family:"微软雅黑"; margin-bottom:10px;}
.header_left{ display:block; float:left; margin-left:10px;}
.header_left li{ display:block; float:left; line-height:54px;}
.header_left .widlogo{ width:200px;}
.header_left li img{ display:block; width:165px; height:30px; margin:0 auto; margin-top:12px;}
.header_left li a{ display:block; color:white; margin:0 10px; padding:0 25px;}
.header_left li .abg{ background-color:black;}
.header_left li a:hover{ background-color:black;}
.header_right{ display:block; float:right; margin-right:20px; line-height:54px; padding-right:40px; background:url(../images/menage_pic.png) no-repeat center right; color:white; font-size:16px;}
/*内容左边部分*/
.contain{ width:100%; overflow:hidden;}
.contain .subnav{ display:block; width:220px; background-color:white; font-family:"微软雅黑"; font-size:16px; color:white; position:absolute;}
.subnav .subnav_bg{width:220px;; height:100%; background-color:white; position:fixed; z-index:-99;top:0;}
.subnav .refush{ background-color:#24b7e7; border:none; color:white; width:100%; line-height:40px; font-size:14px; text-align:center; margin-bottom:10px;font-family:"微软雅黑";}
.subnav>li{ text-align:center;  font-size:16px;color:black; line-height:50px; cursor:pointer; border-bottom:1px solid #ccc;}
.subnav>li>a{ color:black; display:block;}
.list-main li{ display:block; line-height:26px; font-size:14px; text-indent:1em;list-style-type:none; color:white;}
.list-main li a{ color:black; font-size:14px; display:block; width:220px; line-height:40px;}
.list-main a:hover{ background-color:#1977df; color:white;}
.list-main .current{ background-color:#1977df; color:white;}
.subnav .current{background-color:#1977df; color:white;}

/*主体部分*/
.contain_main{width:100%; height:100%; position:absolute; left:0; top:0; background-color:white;font-family:"微软雅黑";}
.contain_main .map{ display:block; font-size:15px; color:#368ee0; width:100%; margin:20px; background-color:#f4f4f4;}
.contain_main .map a{color:#368ee0; line-height:30px; padding-left:10px;}
.contain_main .warn{ display:block; font-size:15px; width:100%; margin:20px; padding-left:30px; background:url(../images/warn_yellow.png) no-repeat 8px center; color:#a2a2a2;}
/*主题内容*/
.contain_main .theme{min-width:1300px; width:85%;border:1px solid #368ee0; margin:20px;font-family:"微软雅黑";}
.contain_main .theme h2{ height:45px; background-color:#1977df;line-height:45px; font-weight:normal;}
.contain_main .theme h2 p{ display:block; float:left; padding-left:40px; background:url(../images/manage_main.png) no-repeat 10px center; font-size:18px; color:white;}
.contain_main .theme h2 a{ display:block; float:right; font-size:18px; color:white; padding-left:30px; background:url(../images/plus.png) no-repeat left center; margin-right:20px;}
.contain_main .theme .title ,.contain_main .theme .result{ display:block; overflow:hidden;}
.contain_main .theme .title{line-height:40px; background-color:#f4f8fb; border-bottom:1px solid #cedce5;}
.contain_main .theme .result{ line-height:50px; background:white;}
.contain_main .theme .title li ,.contain_main .theme .result li{ display:block; float:left; font-size:16px; color:#1d1d1d; height:50px; border-right:1px solid #cedce5; text-align:center;}
.contain_main .theme ul .first{ width:70px;}
.contain_main .theme ul .sec{ width:120px;}
.contain_main .theme ul .thr{ width:100px;}
.contain_main .theme ul .four{ width:200px;}
.contain_main .theme ul .six ,.contain_main .theme ul .seve{ width:180px;}
.contain_main .theme ul .time{width:150px;}
.contain_main .theme ul .timel{width:200px;}
.contain_main .theme ul .last{/*min-width:200px;*/ border:none;}
.contain_main .theme .title .last p{position:relative; left:500%;}
.contain_main .theme ul .last input{cursor:pointer;font-family:"微软雅黑"; display:block; float:left;}
.contain_main .theme ul .last .twot ,.contain_main .theme ul .last .fourt{ width:50px; height:26px; background:url(../images/bott_bg.png) repeat-x left top; font-size:16px; color:#1d1d1d; border:1px solid #898989; border-radius:2px;}
.contain_main .theme ul .last .button{/*width:150px;*/ height:28px; margin-top:12px; position:relative; left:80%;}
.theme ul .last .twot:hover{ background:url(../images/bott_bghover.png) repeat-x left top; border:1px solid #1977df;}
.theme ul .last .fourt:hover{ background:url(../images/bott_bghover.png) repeat-x left top; border:1px solid #1977df;}

.contain_main .theme ul .last .fourt{ width:76px; height:26px; margin-left:5px;}
.contain_main .theme .result{ border-bottom:1px solid #cedce5;}


.contain_main .theme ul .nolimit{ width:90%; text-align:center; border-right:none;}



/*翻页*/
.page{ text-align:center; margin-top:40px; margin-left:-240px;}
.page a{ padding:4px 8px; border:1px solid #cedce5; font-size:14px; color:#1d1d1d; margin:0 5px; background-color:white;}
.page .acur{ color:white; background-color:#1977df;}

.page a:hover{ color:white; background-color:#1977df;}

