<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xa.mapper.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.xa.entity.Activity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="sill" property="sill" jdbcType="REAL" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="activity_type" property="activityType" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="BIGINT" />
    <result column="img_adv_id" property="imgAdvId" jdbcType="BIGINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="up_time" property="upTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, info, sill, price, activity_type, count,img_adv_id, add_time, up_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from activity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from activity
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xa.entity.Activity" useGeneratedKeys="true" keyProperty="id">
    insert into activity (id, name, info, 
      sill, price, activity_type, 
      count,img_adv_id, add_time, up_time
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, 
      #{sill,jdbcType=REAL}, #{price,jdbcType=REAL}, #{activityType,jdbcType=INTEGER}, 
      #{count,jdbcType=BIGINT},#{imgAdvId}, #{addTime,jdbcType=TIMESTAMP}, #{upTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xa.entity.Activity" >
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="sill != null" >
        sill,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="activityType != null" >
        activity_type,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="upTime != null" >
        up_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="sill != null" >
        #{sill,jdbcType=REAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="activityType != null" >
        #{activityType,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTime != null" >
        #{upTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xa.entity.Activity" >
    update activity
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="sill != null" >
        sill = #{sill,jdbcType=REAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="activityType != null" >
        activity_type = #{activityType,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=BIGINT},
      </if>
      
      <if test="imgAdvId != null" >
        count = #{imgAdvId,jdbcType=BIGINT},
      </if>
      
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTime != null" >
        up_time = #{upTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xa.entity.Activity" >
    update activity
    set name = #{name,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      sill = #{sill,jdbcType=REAL},
      price = #{price,jdbcType=REAL},
      activity_type = #{activityType,jdbcType=INTEGER},
      count = #{count,jdbcType=BIGINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      up_time = #{upTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findAll" resultType="com.xa.entity.Activity">
    select 
    t.activity_type as activityType,
    t.img_adv_id as imgAdvId,
    t.add_time as addTime,
    t.up_time as upTime,
    t.* from activity t
  </select>
  
  
</mapper>