<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xa.mapper.CouponsBuyerMapper" >
  <resultMap id="BaseResultMap" type="com.xa.entity.CouponsBuyer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="coupons_id" property="couponsId" jdbcType="BIGINT" />
    <result column="buyer_id" property="buyerId" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, coupons_id, buyer_id, state,add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from coupons_buyer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from coupons_buyer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xa.entity.CouponsBuyer" >
    insert into coupons_buyer (id, coupons_id, buyer_id, state,add_time
      )
    values (#{id,jdbcType=BIGINT}, #{couponsId,jdbcType=BIGINT}, #{buyerId,jdbcType=BIGINT},#{state},#{addTime}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xa.entity.CouponsBuyer" >
    insert into coupons_buyer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="couponsId != null" >
        coupons_id,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="couponsId != null" >
        #{couponsId,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xa.entity.CouponsBuyer" >
    update coupons_buyer
    <set >
      <if test="couponsId != null" >
        coupons_id = #{couponsId,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="state!=null">
        state = #{state},
      </if>
      <if test="addTime != null">
          add_time=#{addTime}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xa.entity.CouponsBuyer" >
    update coupons_buyer
    set coupons_id = #{couponsId,jdbcType=BIGINT},
      buyer_id = #{buyerId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 获取优惠券通过状态 -->
  <select id="findCouponsByState" parameterType="java.util.Map" resultType="com.xa.entity.CouponsBuyer">
     select 
     t.coupons_id as couponsId,
     t.buyer_id as buyerId,
     t.* from coupons_buyer t where buyer_id=#{buyerId} and state=#{state}
  </select>
  
  <select id="getCBByBuyerId" resultType="com.xa.entity.CouponsBuyer" parameterType="long">
   
SELECT
    t.coupons_id as couponsId,
    t.buyer_id as buyerId,
    t.add_time as addTime,
	t.*
FROM
	(
		SELECT
			cb.*
		FROM
			(
				SELECT
					*
				FROM
					coupons
				WHERE
					alloc_type_id = 2
			) c
		LEFT JOIN coupons_buyer cb ON c.id = cb.coupons_id
	) t
WHERE
	t.buyer_id = #{buyerId}
  </select>
  
</mapper>