<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xa.mapper.IntegralMapper" >
  <resultMap id="BaseResultMap" type="com.xa.entity.Integral" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="buyer_id" property="buyerId" jdbcType="BIGINT" />
    <result column="score" property="score" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, buyer_id, score
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from integral
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from integral
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xa.entity.Integral" >
    insert into integral (id, buyer_id, score
      )
    values (#{id,jdbcType=BIGINT}, #{buyerId,jdbcType=BIGINT}, #{score,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xa.entity.Integral" >
    insert into integral
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xa.entity.Integral" >
    update integral
    <set >
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xa.entity.Integral" >
    update integral
    set buyer_id = #{buyerId,jdbcType=BIGINT},
      score = #{score,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getIntegralByUserId" resultType="com.xa.entity.Integral" parameterType="long">
    select 
    t.buyer_id as buyerId,
    t.* from integral t where buyer_id=#{buyerId}
  </select>
  
</mapper>