<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ld.mapper.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.ld.entity.Room" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="enter_level" property="enterLevel" jdbcType="BIGINT" />
    <result column="into_scope" property="intoScope" jdbcType="BIGINT" />
    <result column="allow_visitors_to_enter" property="allowVisitorsToEnter" jdbcType="BIT" />
    <result column="allow_visitors_to_speak" property="allowVisitorsToSpeak" jdbcType="BIT" />
    <result column="allow_words" property="allowWords" jdbcType="BIGINT" />
    <result column="qR_code_image" property="qrCodeImage" jdbcType="BIGINT" />
    <result column="skin" property="skin" jdbcType="BIGINT" />
    <result column="risk_warning" property="riskWarning" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, "type", "name", enter_level, into_scope, allow_visitors_to_enter, allow_visitors_to_speak, 
    allow_words, qR_code_image, skin, risk_warning
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from room
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from room
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ld.entity.Room" >
    insert into room (id, "type", "name", 
      enter_level, into_scope, allow_visitors_to_enter, 
      allow_visitors_to_speak, allow_words, qR_code_image, 
      skin, risk_warning)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{enterLevel,jdbcType=BIGINT}, #{intoScope,jdbcType=BIGINT}, #{allowVisitorsToEnter,jdbcType=BIT}, 
      #{allowVisitorsToSpeak,jdbcType=BIT}, #{allowWords,jdbcType=BIGINT}, #{qrCodeImage,jdbcType=BIGINT}, 
      #{skin,jdbcType=BIGINT}, #{riskWarning,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ld.entity.Room" >
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        "type",
      </if>
      <if test="name != null" >
        "name",
      </if>
      <if test="enterLevel != null" >
        enter_level,
      </if>
      <if test="intoScope != null" >
        into_scope,
      </if>
      <if test="allowVisitorsToEnter != null" >
        allow_visitors_to_enter,
      </if>
      <if test="allowVisitorsToSpeak != null" >
        allow_visitors_to_speak,
      </if>
      <if test="allowWords != null" >
        allow_words,
      </if>
      <if test="qrCodeImage != null" >
        qR_code_image,
      </if>
      <if test="skin != null" >
        skin,
      </if>
      <if test="riskWarning != null" >
        risk_warning,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enterLevel != null" >
        #{enterLevel,jdbcType=BIGINT},
      </if>
      <if test="intoScope != null" >
        #{intoScope,jdbcType=BIGINT},
      </if>
      <if test="allowVisitorsToEnter != null" >
        #{allowVisitorsToEnter,jdbcType=BIT},
      </if>
      <if test="allowVisitorsToSpeak != null" >
        #{allowVisitorsToSpeak,jdbcType=BIT},
      </if>
      <if test="allowWords != null" >
        #{allowWords,jdbcType=BIGINT},
      </if>
      <if test="qrCodeImage != null" >
        #{qrCodeImage,jdbcType=BIGINT},
      </if>
      <if test="skin != null" >
        #{skin,jdbcType=BIGINT},
      </if>
      <if test="riskWarning != null" >
        #{riskWarning,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ld.entity.Room" >
    update room
    <set >
      <if test="type != null" >
        "type" = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        "name" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="enterLevel != null" >
        enter_level = #{enterLevel,jdbcType=BIGINT},
      </if>
      <if test="intoScope != null" >
        into_scope = #{intoScope,jdbcType=BIGINT},
      </if>
      <if test="allowVisitorsToEnter != null" >
        allow_visitors_to_enter = #{allowVisitorsToEnter,jdbcType=BIT},
      </if>
      <if test="allowVisitorsToSpeak != null" >
        allow_visitors_to_speak = #{allowVisitorsToSpeak,jdbcType=BIT},
      </if>
      <if test="allowWords != null" >
        allow_words = #{allowWords,jdbcType=BIGINT},
      </if>
      <if test="qrCodeImage != null" >
        qR_code_image = #{qrCodeImage,jdbcType=BIGINT},
      </if>
      <if test="skin != null" >
        skin = #{skin,jdbcType=BIGINT},
      </if>
      <if test="riskWarning != null" >
        risk_warning = #{riskWarning,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ld.entity.Room" >
    update room
    set "type" = #{type,jdbcType=INTEGER},
      "name" = #{name,jdbcType=VARCHAR},
      enter_level = #{enterLevel,jdbcType=BIGINT},
      into_scope = #{intoScope,jdbcType=BIGINT},
      allow_visitors_to_enter = #{allowVisitorsToEnter,jdbcType=BIT},
      allow_visitors_to_speak = #{allowVisitorsToSpeak,jdbcType=BIT},
      allow_words = #{allowWords,jdbcType=BIGINT},
      qR_code_image = #{qrCodeImage,jdbcType=BIGINT},
      skin = #{skin,jdbcType=BIGINT},
      risk_warning = #{riskWarning,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>